{% extends 'base.html' %}

{% block body %}
<div class="container">

    <h2>Bem vindos á página oficial do Tiro de Guerra 07-001</h2>
     Aqui vocês irão desfrutar um pouco dos treinamentos no dia a dia de nossos atiradores, de nossos serviços, deveres e
    obrigação para com o Brasil.

    <!- ##COMENTÁRIOS
    implementar fotos da parte de frente do Tiro de Guerra, para mostrar o local
    fotos do asteamento da bandeira, os atiradores na posição de SENTIDO ou
    prestando continencia á bandeira.



    ->


</div>
{% endblock %}



